<!--<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>My Portfolio</span>
  </div>
</md-toolbar>-->


<md-table-container>
  <table md-table md-progress="promise">
    <thead md-head>
      <tr md-row class="md-title">
        <th md-column md-numeric>Cash Value</th>
        <th md-column md-numeric>Shares(qty)</th>
        <th md-column md-numeric>Share Value</th>
        <th md-column md-numeric>Total</th>
        <th md-column md-numeric>ROI %</th>
      </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="row in portfolio.my_portfolio">
      <td md-cell>{{row.cash}}</td>
      <td md-cell>{{row.shares}}</td>
      <td md-cell>{{row.share_value}}</td>
      <td md-cell>{{row.total}}</td>
      <td md-cell>{{row.ROI}}</td>
    </tr>
    </tbody>
  </table>
</md-table-container>




<!--{{portfolio.test}}-->



<!--<table>
  <tr ng-repeat="x in portfolio.names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>-->
