<md-toolbar layout="row" layout-align="center center">

  <md-button href="">TradeX</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="#" class="md-raised">About</md-button>
    <md-button href="#" class="md-raised">Help</md-button>
  </section>

  <md-button class="acme-navbar-text">Application was created {{ vm.relativeDate }}.</md-button>

</md-toolbar>
