<div layout="column" layout-fill>

  <md-content>


    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>


    <!--First Row-->
    <div layout="row" layout-xs="column" layout-margin layout-padding>
      <md-card flex flex-gt-xs="60">
        <h2>Market</h2>
        <md-content>
          <div ui-view="chart"></div>
        </md-content>

      </md-card>

      <div flex flex-gt-xs="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

      <md-card flex>
        <h2> Trade</h2>
        <md-content>
          <div ui-view="trade"></div>
        </md-content>
      </md-card>

    </div>

    <!--Second Row-->
    <div layout="row" layout-xs="column" layout-margin layout-padding>
      <md-card flex flex-gt-xs="60">
        <h2>My Portfolio</h2>
        <md-content>
          <div ui-view="portfolio"></div>
        </md-content>
      </md-card>
      </md-card>

      <div flex flex-gt-xs="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

      <md-card flex layout-align="center">
        <h2> News</h2>
      </md-card>

    </div>

  </md-content>


</div>
