  <section flex layout="row" layout-align="center center">
    <md-button ng-click="trade.buy()" class="md-raised md-primary">BUY</md-button>
    <div flex flex-gt-xs="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>
    <md-button href="" class="md-raised md-warn">SELL</md-button>
  </section>

  <div layout="row" flex flex-gt-xs="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

<!--  <span flex flex-gt-xs="40" layout="row" layout-align="center">
    <md-input-container class="md-block" flex-gt-sm="">
      <label>Value</label>
      <input required="" title="value" name="value" ng-model="trade.value">
    </md-input-container>
  </span>-->

  <form layout layout-align="center" layout-padding>
    <div layout="row" flex flex-gt-xs="50">
      <md-input-container flex class="md-icon-float md-block md-title">
        <label>Value</label>
        <input type="number" title="value" name="value" ng-model="trade.value">
      </md-input-container>
    </div>
  </form>
